body {
    margin: 0;
    background: #6cc5d9;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    color: #000;/
}

/*アプリ枠*/
.app {
    max-width: 420px;
    margin: 0 auto;
    background: #9ad24b;
    min-height: 100vh;
    padding: 16px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
}

.title {
    text-align: center;
    margin-bottom: 24px;
}

/*index.php用*/

.item-list {
    overflow-y: auto;
    max-height: calc(100vh - 160px);
    padding-right: 4px;
}

.item-card {
    background: #7fb236;
    padding: 12px;
    border-radius: 8px;
    margin-bottom: 12px;
    position: relative;
}

.edit-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    background: #a7db5a;
    color: #000;
    padding: 4px 10px;
    border-radius: 4px;
    font-size: 14px;
    text-decoration: none;
}

.item-name {
    font-size: 18px;
    font-weight: bold;
}

.qty {
    font-size: 14px;
    margin-left: 8px;
}

.expire {
    margin-top: 6px;
    font-size: 14px;
    opacity: 0.9;
}

.add-area {
    position: fixed;
    bottom: 20px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    gap: 12px;
}

/*共通のボタン*/
.add-btn {
    background: #a7db5a;
    color: #2d3a1a;
    padding: 12px 24px;
    border-radius: 10px;
    font-size: 16px;
    text-decoration: none;
    display: inline-block;
}

.center-box {
    width: 100%;
}

.add-form {
    background: #9ad24b;
    padding: 20px;
    border-radius: 16px;
    box-sizing: border-box;
}

.add-form label {
    display: block;
    margin-bottom: 16px;
    font-size: 14px;
}

.add-form input {
    width: 100%;
    box-sizing: border-box;
    padding: 12px;
    font-size: 16px;
    border-radius: 8px;
    border: none;
    background: #7fb236;
}

.add-form input:focus {
    background: #7fb236;
    outline: none;
}

.add-form input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #7fb236 inset;
    box-shadow: 0 0 0 1000px #7fb236 inset;
    -webkit-text-fill-color: #000;
}

/* 期限切れ*/
.item-card.expired {
    background: #ff8a8a;
    border: 2px solid #d60000;
}

.item-card.expired .edit-btn {
    background: #ff5c5c;
}

/* 期限が近い */
.item-card.soon {
    background: #ffe680;
    border: 2px solid #e0b800;
}

.item-card.soon .edit-btn {
    background: #ffd84d;
}

.full-btn {
    width: 100%;
    margin-top: 8px;
    text-align: center;
    border: none;
}

.delete-btn {
    display: block;
    margin-top: 16px;
    text-align: center;
    background: #ff8a8a;
    color: #000;
    padding: 12px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 16px;
}

/* 並び替え*/
.sort-area {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin: 16px auto 32px auto;
    width: fit-content;
}

.sort-area a {
    background: #a7db5a;
    color: #000;
    padding: 6px 12px;
    border-radius: 6px;
    font-size: 14px;
    text-decoration: none;
}

.search-area {
    display: flex;
    gap: 8px;
    margin-bottom: 16px;
}

.search-area input {
    flex: 1;
    padding: 10px;
    border-radius: 8px;
    border: none;
    background: #7fb236;
    font-size: 14px;
}

.search-btn {
    padding: 10px 16px;
    font-size: 14px;
}